.swiper {
    width: 100%;
    overflow: unset Im !important;
    overflow-x: hidden !important;
    height: fit-content !important;

  }

  .swiper-wrapper {
    position: unset !important;
  }

  .swiper-pagination {
    /* bottom: -100px !important; */
    position: unset !important;
    z-index: 50 !important;
    text-align: left !important;
  }

  .swiper-pagination-bullet {
    background: #5cc689 !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    min-height: 300px;
    /* padding-bottom: 250px !important; */
    width: 100% !important;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fe724c !important;
    border-radius: 20px;
    transition: ease all 0.4s !important;
    cursor: pointer;
  }

  .swiper-slide:hover {
    filter: brightness(80%) !important;
  }
  
  .swiper-slide img {
    display: block;
    width: fit-content;
    height: 300px;
    /* object-fit: cover; */
  }